#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}
#login{
  background-color: aqua;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#login:hover{
  background-color: blue;
  color: aliceblue;
}

#signup{
  background-color: brown;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#disabled{
  background-color:greenyellow;
  font-size: large;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: not-allowed;
  opacity: 0.6;
}

#fb{
  background-color: blue;
  color: aliceblue;
  margin-top: 16px;
  padding: 8px 32px;
  
}